<%-include('../partials/head', {title: 'Product Edit'})%> 
<body>
    <%-include('../partials/header')%>
    <h2>Estas Editando el producto <%=p.nombre%>
        
        <form action="/productEdit/<%=p.id%>?_method=put" method="POST">
            <form action="" method="POST">
                <label for="nombre">Nombre de Producto Actual <%=p.nombre%></label>
                <input type="text" name="nombre" value="<%=p.nombre%>" placeholder="Nombre de Producto"><br><br>
        
                <label for="precio">Precio de Producto Actual <%=p.precio%></label>
                <input type="number" name="precio" value="<%=p.precio%>" placeholder="Precio de Producto"><br><br>
        
                <label for="descripcion">Descripcion de Producto Actual <%=p.descripcion%></label>
                <input type="text" name="descripcion" value="<%=p.descripcion%>" placeholder="Descripcion de Producto"><br><br>
                <button type="submit">Editar Producto</button>
                </form>
        </form>




    <%-include('../partials/footer')%>

</body>
</html>